POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGHOST=

OLAP_DB_HOST=
OLAP_DB_NAME=
OLAP_DB_USER=u
OLAP_DB_PASS=
OLAP_DB_PORT=

TRUENAS_IP=
TRUENAS_USER=
TRUENAS_PASS=
TRUENAS_DOMAIN=
TRUENAS_MOUNT=

BASE_PATH=

REDIS_HOST=   
REDIS_PORT=

LLM_URL=